/* Hvis vi skal lave noget der gælder globalt så laves det her (Dvs 2. sider eller flere) */
*{
    box-sizing: border-box;
}
html{
    width:100%;
    height:100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
body{
    width:100%;
    height:100%;
}
.navbarContainer{
    width:100%;
    height:30px;
}
.pageContainer{
    width:100%;
    height:calc(100vh - 30px);
    padding: 0 100px;
    box-sizing:border-box;
    overflow:auto;
    /*
    background: rgb(54,185,224);
    background: linear-gradient(0deg, rgba(54,185,224,1) 0%, rgba(66,75,89,1) 100%);
    */
}
.pageContainer > div{
    width:100%;
    height: auto;
    min-height:100%;
    background: #f3f3f3;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
}

.pageContainer > div > div {
    width:100%;
    flex-grow:0;
    align-items: stretch;
}

/*body scrollbar */
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #424b59;
    outline: 1px solid slategrey;
}

/* number arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* headerContent*/
.headerContent{
    width:100%;
    height: 60px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-content: center;
    position:relative;
}
.header{
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    font-size: 32px;
    margin: auto;
    padding: 7px 70px;
}

.header_buttonItem{
    user-select: none;
    color:white;
    background: rgb(54, 185, 224);
    position: absolute;
    top: 15px;
    right: 5px;
    border-radius: 5px;
    font-size: 30px;
    padding: 0 6px;
    cursor:pointer;
    display:block;
    width:30px;
    height:30px;
    transition : 0.3s;
}

.header_buttonItem:hover {
    transition : 0.3s;
    box-shadow : 0 0 1px 2px rgb(54, 185, 224) ;
    background-color : #1c98bd ;
}

/* itemContent */
.itemContent{
    padding: 10px 10px 40px 10px;
    width:100%;
    min-height:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    flex-grow:1 !important;
}

.item{
    padding-top:10px;
    width: 50%;
    box-sizing:border-box;
    align-content: center;
    flex-direction: column;
    min-height:100%;

    margin: 0 auto 0 auto;
}

.item > div{
    display: flex;
    align-items: stretch;
    width:100%;
    box-sizing:border-box;
}
.item > div > div {
    width: 100%;
    flex-grow: 1;
    margin:5px;
    box-sizing:border-box;
}

input[type=text], select, input[type=password], input[type=number]  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top:5px;
}

.actions{
    width:100%;
    text-align:right;
    padding: 15px 15px 15px 0;
}

.buttonItem{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    line-height: 1.42857143;
    border-radius: 4px;
    background: #337ab7;
    padding: 6px 12px;
    font-size: 20px;
    cursor:pointer;
    text-transform:capitalize;
    width:auto;
    color:white;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition : 0.3s;
}

.buttonItem:hover {
    transition : 0.3s;
    box-shadow : 0 0 1px 3px #337ab7 ;
    background-color : #255885 ;
}

.div_with_button{
    width:8% !important;
    padding: 32px 5px 8px 5px !important;
}

.minus_buttonItem{
    margin:auto;
    user-select: none;
    color:white;
    background: rgb(54, 185, 224);
    border-radius: 5px;
    font-size: 30px;
    padding: 6px 6px 10px 6px;
    cursor:pointer;
    width:30px !important;
    height:30px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition : 0.3s;
}

.minus_buttonItem:hover {
    transition : 0.3s;
    box-shadow : 0 0 1px 2px rgb(54, 185, 224) ;
    background-color : #1c98bd ;
}

.receptadd_knap{
    width: max-content !important;
    background: rgb(54, 185, 224);
    display: table;
    transition : 0.3s;
    margin:auto;
    margin-top:5px;
}

.receptadd_knap:hover {
    transition : 0.3s;
    box-shadow : 0 0 1px 3px rgb(54, 185, 224) ;
    background-color : #1c98bd ;
}

.rolle_checkboxes{
    width:100%;
    display: flex;
    box-sizing:border-box;
    padding:5px;
    justify-content: center;
}

.rolle_checkboxes > div{
    width:auto;
    flex: 1 1 auto;
}

.rolle_checkboxes > label, input {
    display:inline-block;
    width:auto;
    vertical-align:middle;
}

/* afvejning */
.item_afvejninger{
    padding-top:10px;
    width: 75%;
    box-sizing:border-box;
    align-content: center;
    flex-direction: column;
    min-height:100%;

    margin: 0 auto 0 auto;
}

.afvejning_boxes{
    display:flex;
    box-sizing:border-box;
    align-items: stretch;
    width: 100%;
}

.tilknyttet_recept{
    flex: 0 0 auto;
    margin:0 15px 0 5px;
}

.afvejning_afvejninger{
    margin:0 5px 0 5px;
    display:flex;
    flex-direction:column;
    flex: 0 1 auto;
}

.afvejning_afvejninger > div{
    padding-top:10px;
}

.afvejning_afvejninger > div > div{
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.afvejning_afvejninger > div > div > div{
    margin:5px;
}

.tilknyttet_recept table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tilknyttet_recept th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tilknyttet_recept tr:nth-child(even) {
    background-color: #dddddd;
}

/* produktvisning */
.produktvisning{
    padding-top:10px;
    width: 50%;
    box-sizing:border-box;
    min-height:100%;
    margin: 0 auto 0 auto;
}

.raavare_linje{
    padding: 20px 0 0 0;
}

.paddingtop{
    padding: 20px 0 0 0;
}

.pvisningtable table{
    width:100%;
    text-align: left;
    margin-top:10px;
    border-top: 2px dashed black;
}
.pvisningtable table th{
    padding: 8px 4px 4px 4px;
    width: auto;
}

.pvisningtable table td {
    padding: 4px;
    width: auto;
}

.produktvisning p{
    padding:2px;
}

/* tables */
.tableContent{
    width:100%;
    height: auto;
    max-height: 400px;
    overflow-y:scroll;
}

.tableContent > table{
    width:100%;
    text-align: left;
    font-size:18px;
}

.tableContent > table th{
    padding: 10px;
    width: auto;
}

.tableContent > table td{
    padding: 10px;
    width: auto;
}

.tableContent > table tr:not(:nth-child(1)){
    cursor: pointer;
}

.tableContent > table th {
    background: #424b59;
    font-weight: 600;
    color:white;
    vertical-align: middle;
    position:sticky;
    top: 0;
}
.tableContent table tr:nth-child(even){
    background: #ddd;
}

.active{
    background-color: rgb(54, 185, 224) !important;
    color:white;
}

.tableContent::-webkit-scrollbar {
    width: 1em;
}
.tableContent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tableContent::-webkit-scrollbar-thumb {
    background-color: #424b59;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    outline: 1px solid slategrey;
}

/* loading */
.loading{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.6;
}
.loading .spinnerContainer{
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 100px);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 2.0;
}
.loading .spinnerContainer .spinner {
    border: 8px solid #c1c1c1;
    border-top: 8px solid #090e92;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinLoading 2s linear infinite;
}
@keyframes spinLoading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}