<div>
    <div class="headerContent">
        <div class="header">Afvejning</div>
    </div>
    <div class="tableContent">
        <table>
            <tr>
                <th>ProduktBatch ID</th>
            </tr>
            <tr ng-repeat="userProduktBatch in afvejningModel.userProduktBatches" ng-click="toggleItem(userProduktBatch)" ng-class="{'active' :afvejningModel.userProduktBatch === userProduktBatch}">
                <td>{{userProduktBatch.pbId}}</td>
            </tr>
        </table>
    </div>
    <div style="color:#009116;" ng-if="afvejningModel.msg">
        {{afvejningModel.msg}}
    </div>
    <div style="color:#a6000c;" ng-if="afvejningModel.error">
        {{afvejningModel.error}}
    </div>
    <div class="itemContent" ng-if="afvejningModel.userProduktBatch">
        <div class="item">
            <div class="item_2_elements" ng-repeat="afvejning in afvejningModel.userProduktBatch.afvejninger">
                <div>
                    <div>
                        <label>Råvarebatch ID:</label>
                        <select ng-model="afvejning.rbId"
                                ng-change="information = getInformation(afvejning.rbId)"
                                ng-init="information = getInformation(afvejning.rbId)"
                                ng-disabled="!afvejning.newItem">
                            <option ng-repeat="raavarebatch in availableRaavareBatches(raavarebatchesModel.raavareBatches, afvejning.rbId)"
                                    ng-value="raavarebatch.rbId">
                                {{getRaavaraFromId(raavarebatch.raavareId).raavareNavn}} ID:{{raavarebatch.rbId}}
                            </option>
                        </select>
                    </div>
                    <div style="word-break: break-word" ng-if="afvejning.rbId">
                        Information omkring råvarebatchen:><br />
                        RECEPT NAVN: {{information.receptNavn}} <br />
                        RÅVARE NAVN: {{information.raavareNavn}} <br />
                        NON NETTO: {{information.nonNetto}} <br />
                        TOLERANCE: {{information.tolerance}} <br />
                    </div>
                </div>
                <div>
                    <div>
                        <label>Tara vægt:</label>
                        <input type="number" ng-model="afvejning.tara" ng-disabled="!afvejning.rbId || !afvejning.newItem">
                    </div>
                    <div>
                        <label>Netto:</label>
                        <input type="number" ng-model="afvejning.netto" ng-disabled="!afvejning.rbId || !afvejning.newItem">
                    </div>
                    <div>
                        <label>Terminal:</label>
                        <input type="number" ng-model="afvejning.terminal" ng-disabled="!afvejning.rbId || !afvejning.newItem">
                    </div>
                </div>
            </div>
            <div class="buttonItem receptadd_knap" ng-click="addAfvejning()" ng-if="availableRaavareBatches(raavarebatchesModel.raavareBatches, '').length > 0">Tilføj Komponent</div>

        </div>
        <div class="actions"><div class="buttonItem" ng-click="save()">gem</div></div>
    </div>
</div>
<style>
</style>