<div>
    <div class="headerContent">
        <div class="header">Produkt visning</div>
    </div>
    <div>
        <label>Vælg produktionsbatch id</label>
        <select ng-model="pbId" ng-change="onProduktionBatchSelect(pbId)">
            <option ng-repeat="pb in produktionsbatchModel.produktBatches track by $index" ng-value="pb.pbId">{{pb.pbId}}</option>
        </select>
    </div>
    <div class="itemContent myDivToPrint" ng-if="produktvisningModel.produktVisning">
        <div class="produktvisning">
            <div>
                <p>Udskrevet {{now}}</p>
                <p>Produkt Batch nr. {{produktvisningModel.produktVisning.pbId}}</p>
                <p>Recept  nr. {{produktvisningModel.produktVisning.receptId}}</p>
            </div>
            <div class="raavare_linje" ng-repeat="produktvisningItem in produktvisningModel.produktVisning.produktVisningItems track by $index">
                <div class="pvisningtable">
                    <p>Råvare nr. {{produktvisningItem.raavareId}}</p>
                    <p>Råvare navn: {{produktvisningItem.raavareNavn}}</p>

                    <table>
                        <tr>
                            <th>Del</th>
                            <th>Mængde</th>
                            <th>Tolerance</th>
                            <th>Tara </th>
                            <th>Netto (kg)</th>
                            <th>Batch </th>
                            <th>Opr.</th>
                            <th>Terminal</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>{{produktvisningItem.maengde}}</td>
                            <td><span>±</span>{{produktvisningItem.tolerance}}%</td>
                            <td>{{produktvisningItem.tara}}</td>
                            <td>{{produktvisningItem.netto}}</td>
                            <td>{{produktvisningItem.rbId}}</td>
                            <td>{{produktvisningItem.userIni}}</td>
                            <td>{{produktvisningItem.terminal}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="paddingtop">
                <p>Sum Tara: {{produktvisningModel.produktVisning.totalTara}}</p>
                <p>Sum Netto: {{produktvisningModel.produktVisning.totalNetto}}</p>
            </div>
            <div class="paddingtop">
                <p>Produktion Status: {{produktvisningModel.produktVisning.status}}</p>
                <p>Produktion Startet: {{produktvisningModel.produktVisning.opretDato}}</p>
                <p>Produktion Slut:	{{produktvisningModel.produktVisning.slutDato}}</p>
            </div>

        </div>
    </div>
    <div class="actions" ng-if="produktvisningModel.produktVisning" ng-click="print()"><div class="buttonItem">Print</div></div>
</div>