<div>
    <div class="headerContent">
        <div class="header">Brugere</div>
        <div class="header_buttonItem" ng-click="toggleNewItem()">+</div>
    </div>
    <div class="tableContent">
        <table>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Initialer</th>
                <th>CPR nummer</th>
                <th>Roller</th>
            </tr>
            <tr ng-repeat="bruger in brugereModel.brugerer" ng-click="toggleItem(bruger)" ng-class="{'active' : brugereModel.bruger && brugereModel.bruger.userId === bruger.userId}">
                <td>{{bruger.userId}}</td>
                <td>{{bruger.userName}}</td>
                <td>{{bruger.userIni}}</td>
                <td>{{bruger.cprnummer}}</td>
                <td><span ng-repeat="rolle in bruger.roller">{{rolle.rolename}}<span ng-if="!$last">, </span></span></td>
            </tr>
        </table>
    </div>
    <div style="color:#009116;" ng-if="brugereModel.msg">
        {{brugereModel.msg}}
    </div>
    <div style="color:#a6000c;" ng-if="brugereModel.error">
        {{brugereModel.error}}
    </div>
    <div class="itemContent" ng-if="brugereModel.bruger">
        <div class="item">
            <div>
                <div>
                    <label>Bruger id</label>
                    <input type="number" placeholder="Bruger id" ng-model="brugereModel.bruger.userId" ng-disabled="!brugereModel.newItem" />
                </div>
                <div>
                    <label>Bruger navn</label>
                    <input type="text" ng-model="brugereModel.bruger.userName" />
                </div>
            </div>
            <div>
                <div>
                    <label>Bruger password</label>
                    <input type="password" ng-model="brugereModel.bruger.password" />
                </div>
                <div>
                    <label>Bruger initialer</label>
                    <input type="text" ng-model="brugereModel.bruger.userIni" />
                </div>
            </div>
            <div>
                <div>
                    <label>Bruger CPR nummer:</label>
                    <input type="text" ng-model="brugereModel.bruger.cprnummer" />
                </div>
            </div>
            <div class="rolle_checkboxes">
                <div ng-repeat="rolle in brugereModel.roller">
                    <label>{{rolle.rolename}}
                        <input class="rolle_box" type="checkbox" ng-click="toggleRolle(rolle)" ng-checked="getRolleIndex(rolle) !== -1" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="actions" ng-if="brugereModel.bruger"><div class="buttonItem" ng-click="save()"><span ng-if="brugereModel.newItem">Opret bruger</span><span ng-if="!brugereModel.newItem">Opdater bruger</span></div></div>
</div>

<style>

</style>