<div>
    <div>
        {{raavarebatchesModel.error}}
    </div>
    <div class="headerContent">
        <div class="header">Råvarebatch</div>
        <div class="header_buttonItem" ng-click="toggleNewItem()">+</div>
    </div>
    <div class="tableContent">
        <table>
            <tr>
                <th>RåvarebatchID</th>
                <th>RåvarerID</th>
                <th>Mængde</th>
                <th>Leverandør</th>
            </tr>
            <tr ng-repeat="raavareBatch in raavarebatchesModel.raavareBatches" ng-click="toggleItem(raavareBatch)" ng-class="{'active' : raavarebatchesModel.raavareBatch === raavareBatch}">
                <td>{{raavareBatch.rbId}}</td>
                <td>{{raavareBatch.raavareId}}</td>
                <td>{{raavareBatch.maengde}}</td>
                <td>{{raavareBatch.leverandoer}}</td>
            </tr>
        </table>
    </div>
    <div class="itemContent" ng-if="raavarebatchesModel.raavareBatch">
        <div class="item">
            <div class="item_2_elements">
                <div>
                    <label>RåvarebatchID:</label>
                    <input type="text" ng-model="raavarebatchesModel.raavareBatch.rbId" ng-disabled="!newItem" />
                </div>
                <div>
                    <label>Råvare:</label>
                    <select ng-disabled="!newItem" ng-model="raavarebatchesModel.raavareBatch.raavareId">
                        <option ng-repeat="x in raavareModel.raavarer track by x.raavareId" ng-value="x.raavareId">{{x.raavareNavn}}</option>
                    </select>
                </div>
                <div>
                    <label>Mængde:</label>
                    <input type="text" ng-model="raavarebatchesModel.raavareBatch.maengde" ng-disabled="!newItem"/>
                </div>
                <div>
                    <label>Leverandør:</label>
                    <input type="text" ng-model="raavarebatchesModel.raavareBatch.leverandoer" ng-disabled="!newItem"/>
                </div>
            </div>
        </div>
        <div class="actions"><div class="buttonItem" ng-click="save()" ng-hide="!newItem">Gem</div></div>
    </div>
</div>

<style>

</style>