<div class="produktbatches_header">
    <p>Produktionsbatches</p>
</div>
<div class="create_batch">

    <button class="accordion" ng-click="showAccordian = !showAccordian">Opret Produktbatch</button>
    <div class="accordian-panel" ng-if="showAccordian">
        <div>
            <input type="text" placeholder="Enter RåvareBatchID" name="rbId" required>
            <input type="text" placeholder="Enter råvareId" name="raavareId" required>
            <input type="text" placeholder="Enter Mængde" name="maengde" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</div>
<div class="produktbatches_view">
    <div style="box-sizing:border-box; padding:5px 0px 10px 0px;">
        <p>Produktbatches</p>
    </div>
    <table>
        <tr>
            <th ng-click="orderByMe('rbId')">Råvare batch id</th>
            <th ng-click="orderByMe('raavareId')">Råvare id</th>
            <th ng-click="orderByMe('maengde')">Lagerbeholdning </th>
        </tr>
        <tr ng-repeat="x in raavarebatchesModel.batches | orderBy:myOrderBy">
            <td>{{ x.rbId }}</td>
            <td>{{ x.raavareId }}</td>
            <td>{{ x.maengde }}</td>
        </tr>
    </table>
</div>

<!--
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
-->
<style>
    .view_batches table, td, th {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    .produktbatches_header{
        text-align:center;
        font-size: 30px;
        margin-bottom:10px;
    }
    .produktbatches_view{
        padding:10px;
    }

    table{
        width:100%;
        text-align:left;
    }

    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }

    .accordion {
        background-color: #eee;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordian-panel {
        padding: 18px;
        background-color: #eee;
        overflow: hidden;
        border-color:black;
        /*box-shadow: inset 0 0 2px #000000;*/
    }

    .dummy{
        color:red;
    }
</style>