<div>
<div class="RaavareBatch_header">
    <p>Råvarebatches</p>
</div>
<div class="create_batch">

    <button class="accordion" ng-click="showAccordian = !showAccordian">Opret Råvarebatch</button>
    <div class="accordian-panel" ng-if="showAccordian">
        <div>
            <input type="text" placeholder="Enter RåvareBatchID" name="rdId" ng-model="raavarebatchesModel.raavareBatch.rbId" required>
            <select ng-model="raavarebatchesModel.raavareBatch.raavareId">
                <option ng-repeat="x in raavareModel.raavarer" ng-value="x.raavareId">{{x.raavareNavn}}</option>
            </select>
            <input type="text" placeholder="Enter Mængde" name="maengde" ng-model= "raavarebatchesModel.raavareBatch.maengde"required>
            <input type="text" placeholder="Enter Leverandør" name="leverandoer" ng-model= "raavarebatchesModel.raavareBatch.leverandoer"required>
        </div>
        <div>
            <button type="submit" ng-click="save()">Submit</button>
        </div>
    </div>
</div>
<div class="raavareBatches_view">
    <div style="box-sizing:border-box; padding:5px 0px 10px 0px;">
        <p>Råvarebatches</p>
    </div>
    <table>
        <tr>
            <th ng-click="orderByMe('rbId')">Råvare batch id</th>
            <th ng-click="orderByMe('raavareId')">Råvare id</th>
            <th ng-click="orderByMe('maengde')">Mængde </th>
            <th ng-click="orderByMe('leverandoer')">Lagerbeholdning </th>
        </tr>

        <tr ng-repeat="raavareBatch in raavarebatchesModel.raavareBatches | orderBy:myOrderBy">
            <td>{{raavareBatch.rbId}}</td>
            <td>{{raavareBatch.raavareId}}</td>
            <td>{{raavareBatch.maengde}}</td>
            <td>{{raavareBatch.leverandoer}}</td>
        </tr>
    </table>
</div>
</div>

<style>
    .view_batches table, td, th {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    .RaavareBatch_header{
        text-align:center;
        font-size: 30px;
        margin-bottom:10px;
    }
    .raavareBatches_view{
        padding:10px;
    }

    table{
        width:100%;
        text-align:left;
    }

    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }

    .accordion {
        background-color: #eee;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .accordion:active, .accordion:hover {
        background-color: #ccc;
    }

    .accordian-panel {
        padding: 18px;
        background-color: #eee;
        overflow: hidden;
        border-color:black;
        /*box-shadow: inset 0 0 2px #000000;*/
    }

    .dummy{
        color:red;
    }

</style>


