 <div>
    <div class="headerContent">
        <div class="header">Recept</div>
        <div class="header_buttonItem" ng-click="toggleNewItem()">+</div>
    </div>
    <div class="tableContent">
        <table>
            <tr>
                <th>receptId</th>
                <th>receptName</th>
            </tr>
            <tr ng-repeat="recept in receptModel.recepter" ng-click="toggleItem(recept)" ng-class="{'active' : receptModel.recept === recept}">
                <td>{{recept.receptId}}</td>
                <td>{{recept.receptNavn}}</td>
            </tr>
        </table>
    </div>
     <div style="color:#009116;" ng-if="receptModel.msg">
         {{receptModel.msg}}
     </div>
     <div style="color:#a6000c;" ng-if="receptModel.error">
         {{receptModel.error}}
     </div>
    <div class="itemContent" ng-if="receptModel.recept">
        <div class="item">
            <div class="item_2_elements">
                <div>
                    <label>ReceptID:</label>
                    <input type="text" ng-model="receptModel.recept.receptId" ng-disabled="!newItem || receptModel.recept.receptRaavarer.length > 0" ng-change="validateReceptId()" />
                </div>
                <div>
                    <label>ReceptNavn:</label>
                    <input type="text" ng-model="receptModel.recept.receptNavn" ng-disabled="!newItem" />
                </div>
            </div>
            <div class="recept_komponent" ng-repeat="receptRaavare in receptModel.recept.receptRaavarer track by $index">
                <div class="item_5_elements">
                    <div>
                        <label>Recept id</label>
                        <input type="text" ng-model="receptRaavare.receptId" ng-disabled="true" />
                    </div>
                    <div>
                        <label> Råvare: </label>
                        <select ng-disabled="!newItem" ng-model="receptRaavare.raavareId">
                            <option ng-repeat="raavare in availableRaavare(raavareModel.raavarer, receptRaavare.raavareId) track by $index" ng-value="raavare.raavareId">{{raavare.raavareNavn}}</option>
                        </select>
                    </div>
                    <div>
                        <label>Non netto</label>
                        <input type="text" ng-model="receptRaavare.nonNetto" ng-disabled="!newItem" />
                    </div>
                    <div>
                        <label>Tolerance</label>
                        <input type="text" ng-model="receptRaavare.tolerance" ng-disabled="!newItem" />
                    </div>
                    <div class="div_with_button">
                        <div class="minus_buttonItem" ng-click="removeReceptRaavare(receptRaavare)" ng-hide="!newItem">-</div>
                    </div>
                </div>
            </div>
            <div class="buttonItem receptadd_knap" ng-click="addReceptRaavare();" ng-if="receptModel.recept.receptId && newItem && !validateReceptId() && availableRaavare(raavareModel.raavarer, '').length > 0">Tilføj Råvare</div>
        </div>
        <div class="actions"><div class="buttonItem" ng-click="save()" ng-if="newItem && receptModel.recept.receptRaavarer.length > 0">gem</div></div>
    </div>
</div>

<style>
    .recept_komponent{
        margin-top:5px;
    }
</style>



